.wrapper_dark {
  padding: 15px;
  background-color:rgba(0, 0, 0, 0.919);
  border:solid rgb(255, 9, 9) 10px;
}
.wrapper_light {
  padding: 15px;
  background-color: white;
  border:solid rgb(0, 0, 0) 10px;
}
.info_dark {
  margin:10px;
  width:97%;
  background : rgba(33, 251, 4, 0.3);
  border-left: solid rgb(255, 0, 0) 5px;
  border-right: solid rgb(255, 0, 0) 5px;
  color :transparent;
  position:relative;
  bottom: 0;
}

.info_light {
  margin:10px;
  width:97%;
  background : rgba(0, 89, 255, 0.605);
  border-left: solid rgb(0, 0, 0) 5px;
  border-right: solid rgb(0, 0, 0) 5px;
  color :transparent;
  position:relative;
  bottom: 0;
}

.navbar {
    width:auto;
    height: fit-content;
    text-align:center;
}
.bars_light {
  width:fit-content;
    height:fit-content;
    background-image: url(../public/img/anim-square.png);
    font-family:Zcool , monospace;
    display:inline-block;
    padding:10px;
    margin:2px;
    color:rgb(16, 11, 2);
    font-size:20px;
}
.bars_dark {
  width:fit-content;
    height:fit-content;
    background-image: url(../public/img/anim-square.png);
    font-family:Zcool , monospace;
    display:inline-block;
    padding:10px;
    margin:2px;
    color:rgb(224, 219, 208);
    font-size:20px;
}

.theme_button_light {
  color:black;
  background-color: blue;

}

.theme_button_dark {
  color : rgb(0, 0, 0);
  background-color: white;
}
.headings_wrap {
  text-align: center;
  display: flexbox;
  align-content: center;
}
.bars_light a:hover {
  color:rgb(255, 0, 0) !important;
}
.bars_dark a:hover {
  color: white !important;
}

.bars_light a:visited {
  color:rgb(0, 0, 0) ;

}

.bars_dark a:visited {
  color : rgb(0, 0, 0);
}
.nav_ul {
  display:flexbox;
  align-items: center;
  align-content: center;
}
@font-face {
  font-family: "PixelHour";
  src: url("../public/fnt/Pixelhour.ttf");
}
