body {
  background:rgba(0, 0, 0, 0.97)
}
.info {
  margin:10px;
  width:97%;
  background : rgba(165, 54, 54, 0.3);
  border-left: solid red 5px;
  border-right: solid red 5px;
  color :transparent;
  position:fixed;
  bottom: 0;
}
h2#short-desc {
  color:rgba(255, 255, 255, 0.782)
}

.headings {
  width:auto;
  height:auto;
  font-family: "PixelHour";
  text-align: center;
}
.headings > h1 {
  color: rgb(158, 114, 82);
}
.navbar {
    width:auto;
    height: fit-content;
    text-align:center;
}
.bars {
  width:fit-content;
    height:fit-content;
    background-color:#4b7eeb;
    font-family:Zcool , monospace;
    display:inline-block;
    padding:10px;
    margin:5px;
    color:rgb(241, 238, 232);
    font-size:20px;
}

@font-face {
  font-family: "PixelHour";
  src: url("../public/fnt/Pixelhour.ttf");
}
